:root {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    --anchor-font-size-link: 1.2rem;
    --font-size: 1.1rem;
}

a {
    color: rgba(0, 0, 0, 0.83);
    font-size: var(--font-size);
    text-decoration: none;
    display: inline-block;
    text-align: start;
}

/* reset basic styling */
p {
    margin: 0;
    padding: 0;
}

/* Parent Container Styling Starts */
body {
    margin: 0;
    padding: 0;
    background-color: rgba(233, 233, 233, 1);
    color: rgba(0, 0, 0, 0.83);
    width: 100%;
    min-height: 75%;
    max-height: 95%;
    display: flex;
    justify-content: center;
}

body .wrapper {
    margin: 0.5rem 0.5rem;
    padding: 30px 10% 30px 10%;
    width: 60vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(233, 233, 233, 1);
    overflow: scroll;
}
/* Parent Container Styling Ends */


/* Header Container Styling Starts */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin: 50px 0 60px 0;
}

header .logo {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 14px;
}

/* Logo Container Animation Starts */
header .logo .heading-first-name {
    width: 100%;
    margin: 0;
    padding-left: 0;
    transition: 0.8s;
}

header .logo .heading-first-name:hover {
    width: 100%;
    padding-left: 170px;
}

header .logo .heading-last-name {
    margin: 0;
    padding: 0 0 0 50px;
    transition: padding 0.8s;
}

header .logo .heading-last-name:hover {
    padding: 0 75px 0 0;
}

header .heading-nav {
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 50px;
    font-size: var(--anchor-font-size-link);
    gap: 30px;
    color: rgba(0, 0, 0, 0.8);
}

header .heading-nav .nav-wrapper {
    position: relative;
    height: 30px;
    top: 10px;
}

header .heading-nav .nav-wrapper .navigation {
    position: relative;
    bottom: 0;
    transition: bottom 0.2s ease;
    padding-bottom: 2px;
}

header .heading-nav .nav-wrapper:hover .navigation {
    position: relative;
    bottom: 7px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.83);
}

header .heading-nav .nav-wrapper.resume .navigation{
    box-shadow: 0 2px rgba(0, 0, 0, 0.83);
}
/* Header Container Styling Ends */

/* Main Container Styling Starts */

main {
    display: flex;
    flex-direction: column;
}

main h1 {
    font-size: 2.5rem;
    text-align: center;
}

main p,
main span,
main h4,
main h5,
main li {
    font-size: var(--font-size);
    margin: 0;
    padding: 0;
    text-align: start;
}

main section {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    border-top: solid 1.3px;
    width: 68%;
    padding: 20px 20px 55px 20px;
}

main section:hover {
    background-color: rgba(244, 244, 244, 1);
}

main section h2 {
    font-size: 1.4rem;
}

main span {
    display: block;
}

main .contact-info-wrapper {
    height: 100%;
}

main .contact-info-wrapper .contact-info-grid {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 65px 10px 200px;
    grid-template-rows: repeat(3, 30px);
}

main .professional-experience h4 {
    font-size: 1.2rem;
}

main .professional-experience #experience-1 {
    margin-bottom: 40px;
}

main .education table {
    width: 100%;
    border-collapse: collapse;
}

main .hobbies {
    border-bottom: solid 1.3px;
}

table,
th,
td{
    padding: 10px;
    border: solid 1px;
}
/* Main Container Styling Ends */

/* Footer Container Styling Starts */
footer {
    align-self: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 60%;
}

footer h2 {
    margin-bottom: 40px;
}

footer .personal-info {
    display: grid;
    grid-template-columns: 30px 10px 230px;
    grid-template-rows: repeat(3, 30px);
    gap: 2px;
    margin-bottom: 30px;
    margin-left: 70px;
    justify-items: start;
}

footer .personal-info .span-info {
    grid-column: 1;
    justify-self: center;
}

footer .personal-info span img {
    width: 20px;
    height: 20px;
}

footer .personal-info .span-semicolon {
    grid-column: 2;

}

footer .personal-info a {
    font-weight: 800;
}

/* Footer Container Styling Ends */